<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Спасибо за регистрацию! </h1>
    <p>
        Перейдите по ссылке для смены пароля <%= @password_reset.code %>
    </p>
  </body>
</html>